#o_about{
    /* background-color: rgb(108, 241, 81); */
    background-image: url(https://images.pexels.com/photos/13258053/pexels-photo-13258053.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-clip: content-box;
    max-height: 0.9em;
    width: auto;
    color: rgb(11, 245, 23);
}
#us{
    background-color: rgb(5, 68, 1);
    color: rgb(11, 245, 23);
    border: 1px solid ;
    margin: 1em 15em 1em 15em;
    text-align: justify;
    padding: 2em;
    font-size: larger;
    border-radius: 55px;
    /* overflow: scroll; */
}
#wwa{
    text-align: center;
}
#ourstory{
    font-style: italic;
}
#mav{
    font-style: italic;
}
#mtt{
    font-style: italic;
}
#ct{
    font-style: italic;
}
#se{
    font-style: italic;
}
#ci{
    font-style: italic;
}
#cca{
    font-style: italic;
}
#usp{
    font-style: italic;
}
.page1{
    padding: 25px;
}
#o_about1{
    padding: 5px;
    margin: 10px 20px 15px 35px;
    background-color: rgb(5, 68, 1);
}
#things1{
    padding: 5px;
    margin: 10px 20px 15px 35px;
    background-color: rgb(11, 115, 23);
}
#hotels1{
    padding: 5px;
    margin: 10px 20px 15px 35px;
    background-color: rgb(11, 115, 23);
}
#contact1{
    padding: 5px;
    margin: 10px 20px 15px 35px;
    background-color: rgb(11, 115, 23);
}
a:visited{
    color: rgb(21, 495, 23);
}
a:hover{
    /* color: rgb(145, 83, 11); */
    color: orangered;
}
a:active{
    color: white;
    
}
a:link{
    color: rgb(49, 250, 59);
}